<div class="ct-dialog ct-data-dialog">
  <div class="ct-dialog-title">
      <span>Team members of</span><span>{{project.name}}</span>
      <button class="ct-dialog-close" mat-dialog-close ctClickClose></button>
  </div>

  <div class="ct-search-container">
      <div class="ct-grid-search-filter">
          <!--add GlobFilet to comonent filterGlobal(value, 'contains')-->
          <input class="ct-input-element" #gb placeholder="Search to add or remove teammates" [(ngModel)]="filterStr" (input)="onGlobalFilter(gb.value)">
          <i class="ct-search-icon"></i>
      </div>
  </div>

  <div class="ct-grid" #grid>
      <div class="ct-popup-table-wrapper" (window:resize)="onResize()">
          <p-table #assignedTable class="ct-grid-container ct-grid-row-border ct-grid-blue"
                   *ngIf = "true"
                   [value]="assignedUsersPagedResult?.data"
                   scrollable="true" [sortField]="'fullName'"
                   [responsive]="true" [lazy]="true"
                   [loading]="!isAllAssignedUsers"
                   (onLazyLoad)="updateAssignedUsers($event)"
                   (onMoreContent)="updateAssignedUsers()"
                   (onEndScroll)="onAssignedUsersEndScroll()">

              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="fullName" [style]="{'width':'330px'}" class="ct-info-col">
                          {{assignedUsersPagedResult?.count}} team members
                          <p-sortIcon field="fullName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="memberEmail" [style]="{'width':'290px'}">
                          Email
                          <p-sortIcon field="memberEmail"></p-sortIcon>
                      </th>
                      <th [style]="{'width':'180px'}" class="ct-access-level">Access Level</th>
                      <th class="ct-small-padding">Actions</th>
                  </tr>
              </ng-template>

              <ng-template pTemplate="body" let-userProject>
                  <tr>
                      <td>
                          <span class="ct-grid-userpic">
                              <ct-user-pic [urlIcon]="userProject.urlIcon"></ct-user-pic>
                          </span>
                          <span class="ct-grid-link-text">
                              {{userProject.memberName}}
                          </span>
                      </td>
                      <td>{{userProject.memberEmail}}</td>
                      <td>
                          <ct-select *ngIf="canAssignProjectManager && userProject.id"
                                     class="ct-users-project-edit-role ct-select-ellipse"
                                     [name]="'role'"
                                     [displayName]="'name'" [trackBy]="'id'"
                                     [container]="assignedTable.el.nativeElement"
                                     [(ngModel)]="userProject.role"
                                     (change)="changeRole(userProject, $event)"
                                     [options]="projectRoles">
                          </ct-select>
                          <ct-select *ngIf="canAssignProjectManager && !userProject.id"
                                     class="ct-users-project-edit-role ct-select-ellipse"
                                     [name]="'role'"
                                     [displayName]="'name'" [trackBy]="'id'"
                                     [(ngModel)]="userProject.role"
                                     (change)="assignToPublic(userProject, $event)"
                                     [options]="projectRoles">
                          </ct-select>
                          <span *ngIf="!canAssignProjectManager">{{userProject.role.name}}</span>
                      </td>
                      <td>
                          <a *ngIf="userProject.memberName !== authUser.nickname
                                  && userProject.id
                                  && (canAssignProjectManager
                                  || (!canAssignProjectManager
                                  && userProject.roleName !== 'manager'))"
                             class="ct-grid-link ct-grid-delete"
                             (click)="removeFromProject(userProject, $event)">
                              <i class="material-icons" aria-hidden="true">clear</i>
                          </a>
                          <span *ngIf="!userProject.id">Public</span>
                      </td>
                  </tr>
              </ng-template>
          </p-table>

          <p-table *ngIf="project.isPrivate" #notAssignTable class="ct-grid-container ct-grid-row-border"
                   [value]="notAssignedUsersPagedResult?.data"
                   scrollable="true" [sortField]="'fullName'"
                   [responsive]="true" [lazy]="true"
                   [loading]="!isAllNotAssignedUsers"
                   (onLazyLoad)="updateNotAssignedUsers($event)"
                   (onMoreContent)="updateNotAssignedUsers()"
                   (onEndScroll)="onNotAssignedUsersEndScroll()">

              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="fullName" [style]="{'width':'330px'}" class="ct-info-col">
                          {{notAssignedUsersPagedResult?.count}} Unassigned
                          <p-sortIcon field="fullName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="email" [style]="{'width':'470px'}">
                          Email
                          <p-sortIcon field="email"></p-sortIcon>
                      </th>
                      <th class="ct-small-padding">Actions</th>
                  </tr>
              </ng-template>

              <ng-template pTemplate="body" let-user>
                  <tr>
                      <td>
                          <span class="ct-grid-userpic">
                              <ct-user-pic [urlIcon]="user.urlIcon"></ct-user-pic>
                          </span>
                          <span class="ct-grid-link-text">
                              {{user.fullName}}
                          </span>
                      </td>
                      <td>{{user.email}}</td>
                      <td *ctIsGranted="'AssignProjectMember'">
                          <span class="ct-grid-button" (click)="addToProject(user, $event.target)">Add to Team</span>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>
