.cdk-overlay-dark-backdrop {
  position: fixed;
  background: rgb(0, 0, 0);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.35;
}

.scrollable-dialog .mat-mdc-dialog-container{
  overflow-y: auto;
}

.mat-mdc-dialog-container {
  position: relative;
  border-radius: 5px !important;
  background-color: $calendarTaskColor;
  max-height: calc(100vh - 40px);
  padding: 30px !important;
}

.mat-mdc-dialog-surface {
  overflow-y: visible !important;
  box-shadow: none !important;
}

.mat-mdc-select-underline {
  display: none;
}

.mat-mdc-menu-item.ct-disabled {
  color: rgba(0, 0, 0, 0.38);
  pointer-events: none;
  cursor: default;
}

.mat-mdc-checkbox:not(.mat-mdc-checkbox-disabled).mat-mdc-accent {
  .mat-mdc-checkbox-ripple .mat-mdc-ripple-element {
    background-color: rgba($main-blue, 0.26) !important;
  }
}

.mat-mdc-checkbox.mat-mdc-checkbox-checked {
  .mdc-checkbox__background {
    background-color: $main-blue !important;
    --mdc-checkbox-selected-checkmark-color: white !important;
    --mdc-checkbox-selected-icon-color: white !important;
    --mdc-checkbox-selected-hover-icon-color: white !important;
  }
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-icon-color: #00a0de !important; //for some reason $main-blue doesnt work
  --mdc-radio-selected-hover-icon-color: #00a0de !important;
  --mdc-radio-selected-pressed-icon-color: #00a0de !important;
  --mdc-radio-selected-focus-icon-color: #00a0de !important;

  .mdc-radio__ripple .mat-ripple-element {
    background-color: rgba($main-blue, 0.26) !important;
  }

  .mdc-radio__outer-circle {
    border: 1px solid #ccc;
    background: #fff !important;
  }
}

.mat-mdc-form-field-underline .mat-mdc-form-field-ripple {
  background-color: $main-blue;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
  display: none !important;
}

.mat-mdc-select {
  &:focus:not(.mat-mdc-select-disabled) {
    .mat-mdc-select-arrow,
    .mat-mdc-select-trigger {
      color: $main-blue;
    }
  }
}

.mat-mdc-option.mat-mdc-option-selected {
  color: $main-blue;
}

.ui-widget-content a {
  color: $main-blue;

  &:hover {
    color: $dark-blue;
  }
}

.p-datatable,
.ui-cell-data {
  font-family: $baseFontFamily !important;
}

.mat-mdc-list .mat-mdc-list-item .mat-mdc-list-item-unscoped-content,
.mat-mdc-nav-list .mat-mdc-list-item .mat-mdc-list-item-content {
  font-family: $baseFontFamily;
  font-size: $baseFont;
}

div.ui-shadow {
  border: none;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.ui-multiselect-panel {
  border-radius: 5px;
  background-color: white;
  position: absolute;
  z-index: 9999;

  .slimscroll-wrapper {
    margin: 0 -10px !important;
    width: calc(100% + 24px) !important;
  }
}

.ct-select-option {
  --mdc-list-list-item-one-line-container-height: 36px;
  position: relative;
  line-height: 22px;
}

.mat-mdc-list-item-content {
  display: block !important;

  label {
    line-height: 16px;
    display: inline-block;
  }
}

.mat-mdc-dialog-container-with-actions {
  display: block !important;
}

.mat-mdc-checkbox {
  .mdc-checkbox__background {
    border: 1px solid #ccc;
    border-radius: 0;
  }

  &.mat-mdc-checkbox-checked {
    .mdc-checkbox__background {
      border-color: #099cce;
    }
  }
}

.mdc-checkbox__native-control {
  background: #fff;
}

.mdc-label,
.mat-mdc-radio-label-content {
  font-family: $baseFontFamily;
}

.cdk-overlay-container {
  z-index: 1100;
}

.cdk-overlay-pane {
  max-width: 95vw !important;
}

.mat-mdc-list-item {
  height: auto !important;
}

.cdk-global-scrollblock {
  position: static;
}
