<div class="ct-grid-search-filter position-fixed">
  <!-- filtration  -->
  <input class="ct-input-element" #globalFilter placeholder="Search connection..."
         [(ngModel)]="filterStr" (input)="dt.filterGlobal($event.target.value, 'contains')">
  <i class="fa fa-search"></i>
</div>

<div #pageContainer class="ct-page-container ct-integration-page">
  <div class="ct-page-header">
    <h3 class="ct-header">Connections</h3>
    <div (click)="openConnectionDialog()" class="ct-add-link">
      <a class="ct-manage-add">Create New Connection</a>
    </div>
    <button mat-raised-button class="ct-blue-button" (click)="updateVstsUsers()">
      Update VSTS Users
    </button>
  </div>

  <div class="ct-data-table-wrapper" (window:resize)="onResize()">
    <p-table #dt class="ct-grid-container ct-grid-row-border"
             [value]="pagedResult?.data"
             scrollable="true"
             [sortField]="'projectName'"
             [lazy]="true"
             [loading]="!isAllConnections"
             (onLazyLoad)="loadLazy($event)"
             (onMoreContent)="loadLazy()"
             (onEndScrollEvent)="onEndScroll()">

      <!-- header -->
      <ng-template pTemplate="header">
        <tr>
          <th class="ct-info-col">Project</th>
          <th class="ct-info-col" *ngIf="groupById != 2">VSTS Project</th>
          <th>VSTS Company Url</th>
          <th style="width:300px;">VSTS Pat</th>
          <th style="width:150px;" class="ct-info-col ct-small-padding">Team</th>
          <th style="width:110px;" class="ct-small-padding">Actions</th>
        </tr>
      </ng-template>

      <!--body -->
      <ng-template pTemplate="body" let-connection>
        <tr>
          <td class="ct-info-col">
            <span (click)="openConnectionDialog(connection)"
                  class="ct-grid-link-text"
                  title="{{ connection.projectName }}">
              {{ connection.projectName }}
            </span>
          </td>
          <td *ngIf="groupById != 2" class="ct-info-col">
            <span>{{ connection.vstsProjectName }}</span>
          </td>
          <td>
            <div markdown [data]="formatUrlForMarkdown(connection.vstsCompanyUrl)"></div>
          </td>
          <td style="width:300px;">
            {{ connection.vstsPat }}
          </td>
          <td style="width:150px;" class="ct-info-col ct-small-padding">
            <a class="ct-grid-link ct-grid-count"
               (click)="openProjectAssignmentDialog(connection)">
              {{ connection.membersCount }}
              <span class="ct-manage-text">View</span>
            </a>
          </td>
          <td style="width:110px;" class="ct-small-padding">
            <a #removeBtn class="ct-grid-link ct-grid-delete"
               (click)="removeConnection(connection, removeBtn)">
              <i class="material-icons">clear</i>
            </a>
          </td>
        </tr>
      </ng-template>

      <!-- empty data -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            Sorry, you don't have any reports at this time period.
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
