<div class="ct-page-container ct-clients-page">
  <div class="ct-page-header">
    <mat-checkbox [(ngModel)]="showJiraTable" (ngModelChange)="onToggle()">
        Jira Enable
    </mat-checkbox>

    <div *ngIf="showJiraTable" (click)="openConnectionDialog()" class="ct-add-link">
      <a class="ct-manage-add" style="padding-top: 3px;" >Create New Jira Setting</a>
    </div>
  </div>

  <p-table *ngIf="showJiraTable"
           [value] = "tableData">
      <ng-template pTemplate="header">
          <tr>
              <th>
                Setting name
              </th>
              <th>
                Api Token
              </th>
              <th>
                Domain
              </th>
              <th>
                User Email
              </th>
              <th>
                Action
              </th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
          <tr>
              <td>{{row.settingName}}</td>
              <td>{{row.apiToken}}</td>
              <td>{{row.domain}}</td>
              <td>{{row.userEmail}}</td>
              <td>
                <button (click) = "deleteTask(rowIndex)">
                  <i class="fa fa-times"></i>
                </button>
                <button (click) = "openConnectionDialog(row)">
                  <i class="ct-grid-settings-icon"></i>
                </button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
