<div class="ct-grid-search-filter position-fixed">
  <input class="ct-input-element" placeholder="Search actions..." [(ngModel)]="filterStr"
         (input)="filterTable($event.target.value)">
  <i class="fa fa-search"></i>
</div>
<!-- [resizeObservable]="resizeObservable"-->
<div class="ct-data-table-wrapper" (window:resize)="onResize()">
  <p-table class="ct-grid-container ct-grid-row-border"
           [value]="pagedResult?.data"

           scrollable="true" [sortField]="'date'"
           [lazy]="true"
           [loading]="!isAllActions"
           (onLazyLoad)="loadLazy($event)"
           (onMoreContent)="loadLazy()"
           (onEndScroll)="onEndScroll()">
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="date" style="width:200px;">
                  Date <p-sortIcon field="date"></p-sortIcon>
              </th>
              <th pSortableColumn="entity" style="width:150px;">
                  Entity <p-sortIcon field="entity"></p-sortIcon>
              </th>
              <th pSortableColumn="action" style="width:150px;">
                  Action <p-sortIcon field="action"></p-sortIcon>
              </th>
              <th pSortableColumn="entityId" style="width:150px;">
                  EntityId <p-sortIcon field="entityId"></p-sortIcon>
              </th>
              <th pSortableColumn="memberFullName" style="width:200px;">
                  Member <p-sortIcon field="memberFullName"></p-sortIcon>
              </th>
              <th>Object</th>
              <th>Changed fields</th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
          <tr>
              <td>{{ row.date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
              <td>{{ row.entity }}</td>
              <td>{{ row.action }}</td>
              <td>{{ row.entityId }}</td>
              <td>{{ row.memberFullName }}</td>
              <td>{{ row.changedObject }}</td>
              <td>
                  <ul>
                      <li *ngFor="let field of row.changedFields">
                          <span style="font-weight:bold">{{ field.field }}</span>:
                          {{ field.oldValue }} -> {{ field.newValue }}
                      </li>
                  </ul>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
