<div class="ct-grid-search-filter position-fixed">
  <input class="ct-input-element" placeholder="Search tasks..." [(ngModel)]="filterStr"
         (input)="filterTable($event.target.value)">
  <i class="fa fa-search"></i>
</div>

<div #pageContainer class="ct-page-container ct-tasks-page">
  <div class="ct-page-header">
      <h3 class="ct-header">Tasks</h3>

      <div class="ct-page-tabs">
          <a (click)="toggleTab(true)" [class.ct-active-tab]="isActiveTab">Active Tasks</a>
          <a (click)="toggleTab(false)" [class.ct-active-tab]="!isActiveTab">Archived Tasks</a>
      </div>

      <div *ctIsGranted="'AddTask'" (click)="openTaskDialog()" class="ct-add-link">
          <a class="ct-manage-add">Create New Task</a>
      </div>
  </div>

  <div class="ct-data-table-wrapper" (window:resize)="onResize()">
      <p-table #tableRef class="ct-grid-container ct-grid-row-border"
               [value]="pagedResult?.data"
               scrollable="true" [sortField]="'name'"
               [lazy]="true"
               [loading]="!isAllTasks"
               (onLazyLoad)="loadLazy($event)"
               ctPaginationScrolling
               [isLoading]="updatingGrid"
               (onEndScroll)="onEndScroll()">

          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="name" style="width:450px;" class="ct-info-col">
                      Task <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th pSortableColumn="projectId" style="width:250px;">
                      Task Type <p-sortIcon field="projectId"></p-sortIcon>
                  </th>
                  <th class="ct-column-description">Description</th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-task>
              <tr>
                  <td class="ct-info-col">
                      <span (click)="openTaskDialog(task)" class="ct-grid-link-text"
                            title="{{task.name}}">{{task.name}}</span>
                  </td>
                  <td>
                      <span *ngIf="task.projectId">custom</span>
                      <span *ngIf="!task.projectId">general</span>
                  </td>
                  <td>
                      <div class="ct-grid-description">
                          <ct-read-more [text]="task.description"></ct-read-more>
                      </div>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>
</div>
