<div class="ct-grid-search-filter position-fixed">
  <input class="ct-input-element" placeholder="Search project..." [(ngModel)]="filterStr"
         (input)="filterTable($event.target.value)">
  <i class="fa fa-search"></i>
</div>

<div #pageContainer class="ct-page-container ct-projects-page">
  <div class="ct-page-header">
      <h3 class="ct-header">Projects</h3>

      <div class="ct-page-tabs">
          <a (click)="toggleTab(true)" [class.ct-active-tab]="isActiveTab">Active Projects</a>
          <a (click)="toggleTab(false)" [class.ct-active-tab]="!isActiveTab">Archived Projects</a>
      </div>

      <div *ctIsGranted="'AddProject'" (click)="openProjectDialog()" class="ct-add-link">
          <a class="ct-manage-add">Create New Project</a>
      </div>
  </div>

  <div class="ct-data-table-wrapper" (window:resize)="onResize()">
      <p-table #tableRef class="ct-grid-container ct-grid-row-border"
               [value]="pagedResult?.data"
               scrollable="true" [sortField]="'name'"
               [lazy]="true"
               [loading]="!isAllProjects"
               (onLazyLoad)="loadLazy($event)"
               (onMoreContent)="loadLazy()"
               (onEndScroll)="onEndScroll()">

          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="name" class="ct-info-col">Project <p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="clientName" class="ct-info-col">Client <p-sortIcon field="clientName"></p-sortIcon></th>
                  <th class="ct-description-col">Description</th>
                  <th class="ct-info-col ct-small-padding" style="width:140px;">Team</th>
                  <th class="ct-info-col ct-small-padding" style="width:130px;">Tasks</th>
                  <th class="ct-small-padding" style="width:90px;">Settings</th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-project>
            <tr>
              <td class="ct-info-col">
                <span class="ct-grid-label ct-color" [ngStyle]="{ color: numberToHex(project.color) }"></span>
                <span (click)="openProjectDialog(project)" class="ct-grid-link-text"
                      title="{{ project.name }}">{{ project.name }}</span>
              </td>
              <td class="ct-info-col">{{ project.clientName }}</td>
              <td class="ct-description-col">
                <div class="ct-grid-description">
                  <ct-read-more [text]="project.description"></ct-read-more>
                </div>
              </td>
              <td class="ct-info-col ct-small-padding" style="width: 140px;">
                <span class="ct-user-circle-icon"></span>
                <a (click)="openProjectUsersDialog(project)" class="ct-grid-link ct-grid-count">
                  {{ project.membersCount }}
                  <span class="ct-manage-text">Manage</span>
                </a>
              </td>
              <td class="ct-info-col ct-small-padding" style="width: 130px;">
                <a (click)="openProjectTasksDialog(project)" class="ct-grid-link ct-grid-count">
                  {{ project.tasksCount }}
                  <span class="ct-manage-text">Manage</span>
                </a>
              </td>
              <td class="ct-small-padding" style="width: 90px;">
                <a (click)="openProjectSettingsDialog(project)" class="ct-grid-settings-icon"></a>
              </td>
            </tr>
          </ng-template>
      </p-table>
  </div>
</div>
