<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- Console (stdout) -->
		<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}| ${message} ${exception}" />

		<!-- All logs (per user) with 30-day retention -->
		<target xsi:type="File" name="allfile"
				fileName="Logs/${aspnet-User-Identity}/nlog-all-${shortdate}.log"
				archiveFileName="Logs/archive/all/nlog-all-${shortdate}.{#}.log.zip"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30"
				enableArchiveFileCompression="true"
				concurrentWrites="true"
				keepFileOpen="false"
				layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-request-method}: ${aspnet-request-url}${aspnet-request-querystring}| ${message} ${exception}" />

		<!-- Own logs -->
		<target xsi:type="File" name="ownFile-web"
				fileName="Logs/${aspnet-User-Identity}/nlog-own-${shortdate}.log"
				archiveFileName="Logs/archive/own/nlog-own-${shortdate}.{#}.log.zip"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30"
				enableArchiveFileCompression="true"
				concurrentWrites="true"
				keepFileOpen="false"
				layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-request-method}: ${aspnet-request-url}${aspnet-request-querystring}| ${message} ${exception}" />

		<!-- Errors only -->
		<target xsi:type="File" name="errors"
				fileName="Logs/${aspnet-User-Identity}/errors-${shortdate}.log"
				archiveFileName="Logs/archive/errors/errors-${shortdate}.{#}.log.zip"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="30"
				enableArchiveFileCompression="true"
				concurrentWrites="true"
				keepFileOpen="false"
				layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-request-method}: ${aspnet-request-url}${aspnet-request-querystring}| ${message} ${exception}" />

		<!-- Drop Microsoft logs -->
		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<!-- Ignore Microsoft logs -->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

		<!-- Own logs -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />

		<!-- Everything to console and allfile -->
		<logger name="*" minlevel="Trace" writeTo="console,allfile" />

		<!-- Warnings and errors to errors file -->
		<logger name="*" minlevel="Warn" writeTo="errors" />
	</rules>

</nlog>
