<div class="ct-grid-search-filter position-fixed">
  <input class="ct-input-element" placeholder="Search client..." [(ngModel)]="filterStr"
         (input)="filterTable($event.target.value)">
  <i class="fa fa-search"></i>
</div>

<div #pageContainer class="ct-page-container ct-clients-page">
  <div class="ct-page-header">
      <h3 class="ct-header">Clients</h3>

      <div class="ct-page-tabs">
          <a (click)="toggleTab(true)" [class.ct-active-tab]="isActiveTab">Active Clients</a>
          <a (click)="toggleTab(false)" [class.ct-active-tab]="!isActiveTab">Archived Clients</a>
      </div>

      <div *ctIsGranted="'AddClient'" (click)="openClientDialog()" class="ct-add-link">
          <a class="ct-manage-add">Create New Client</a>
      </div>
  </div>

  <div class="ct-data-table-wrapper" (window:resize)="onResize()">
      <p-table #tableRef class="ct-grid-container ct-grid-row-border"
               [value]="pagedResult?.data"
               scrollable="true" [sortField]="'name'"
               [lazy]="true"
               [loading]="!isAllClients"
               (onLazyLoad)="loadLazy($event)"
               (onMoreContent)="loadLazy()"
               (onEndScroll)="onEndScroll()">

          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="name" class="ct-info-col">
                      Client <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th pSortableColumn="email" style="width:250px;">
                      Contact Email <p-sortIcon field="email"></p-sortIcon>
                  </th>
                  <th class="ct-column-description">Description</th>
                  <th style="width:130px;" class="ct-info-col ct-small-padding">Projects</th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-client>
              <tr>
                  <td class="ct-info-col">
                      <span (click)="openClientDialog(client)" class="ct-grid-link-text"
                            title="{{ client.name }}">{{ client.name }}</span>
                  </td>
                  <td>{{ client.email }}</td>
                  <td>
                      <div class="ct-grid-description">
                          <ct-read-more [text]="client.description"></ct-read-more>
                      </div>
                  </td>
                  <td class="ct-info-col">
                      <a (click)="openProjectAssignmentDialog(client)" class="ct-grid-link ct-grid-count">
                          {{ client.projectsCount }}
                          <span class="ct-manage-text">Manage</span>
                      </a>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </div>
</div>
